.cell {
	border: 2px solid black;
	border-radius: 5px;
}

body {
	width: 100%;
}
.container {
	width: 100%;
	background-color: #f1f1f1;
	max-width: 100%;
	display: flex;
	margin: 40px;
}

aside {
	background-color: #62ad8a;
	width: 30%;
	margin: 10px;
	padding: 5px;
}


/*main section*/

main {
	width: 70%;
	margin: 10px 10px 10px 0;
}

.about__me {
	background-color: #535954;
	text-align: center;
	color: white;
	font-family: 'Work Sans', sans-serif;
	border: 1px solid black;
}

.about__me h1 {
	padding-top: 20px;
	font-size: 3em;
}

.about__me p {
	text-align: left;
	line-height: 1.5;
	margin: 0 50px;
	padding-bottom: 20px;
}

.contact {
	display: flex;
	max-width: 100%;
}

.contact__list {
	width: 50%
}

.contact a {
	text-decoration: none;
	color: #185878;
}

.contact a:hover {
	color: #6cc180;
}

.contact ul {
	list-style-type: none;
}

.contact img {
	/*width: 20px;*/
	max-height: 20px;
}

.contact__list li {
	height: 20px;
	font-family: 'Cormorant Garamond', serif;
	font-size: 18px;
}

.list__doi {
	/*margin-top: 5px;*/
}

/*.contact a:hover img {
	transform: scale(1.2);
}*/

.fa-facebook-f {
	margin-right: 8px;
}

.fa-linkedin-in {
	margin-right: 4px;
}

.contact a:hover .fa-facebook-f {
	transform: scale(1.2);
	margin-right: 10px;
}

.contact a:hover .fa-linkedin-in {
	transform: scale(1.2);
	margin-right: 6px;
}

.contact a:hover .fa-github {
	transform: scale(1.2);
	margin-right: 2px;
}

.line__behind {
  	text-align: center;
}

.line__behind span {
	background: #f1f1f1;
	padding: 0 20px;
  	text-align: center;
}

.line__behind+* {
	margin-left: 5%;
	width: 90%;
  	border-top: solid 2px #adac97;
  	margin-top: -45px;
}

.education {
	text-align: center;
}

.education ul {
	list-style-type: none;
	width: 50%;
	margin-left: 25%;
	line-height: 1.5;
	/*text-align: left;*/
}
.education__title {
	margin-left: 30px;
	/*font-family: 'Hind Madurai', sans-serif;*/
	font-family: 'Volkhov', serif;
}

/*.education__study {
	margin-left: 20px;
}

.education__study a {
	text-decoration: none;
	color: #185878;
}

.education__study a:hover {
	color: #6cc180;
}

.education li {
	text-align: left;
}

.education__second__row {
	margin-left: 56px;
}*/

.education__container {
	width: 50%;
	display: flex;
	margin-left: 25%;
	line-height: 1.5;
	font-family: 'Cormorant Garamond', serif;
	font-size: 18px;
	font-weight: 500;
}

.education__date {
	width: 20%;
}

.education__text {
	width: 80%;
	text-align: left;
	margin-top: 0;
	padding-top: 0;
}

.education__text a {
	text-decoration: none;
	color: #185878;
}

.education__text a:hover {
	color: #6cc180;
}

.experiences {
	width: 90%;
	margin-left: 5%;
	text-align: center;
}

.work__container {
	width: 100%;
	display: flex;
	line-height: 1.5;
	font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

.experience__p {
/*	font-family: 'Lateef';
	font-size: 22px;*/
}

.work__date {
	width: 10%;
}

.work__experience {
	width: 90%;
	text-align: left;
	margin-top: 0;
	padding-top: 0;
	padding-right: 10px;
}

.work__experience a {
	text-decoration: none;
	color: #185878;
}

.work__experience a:hover {
	color: #6cc180;
}

/*Aside section*/

.menu__aside {
	font-family: Hind, sans-serif;
}

.avatar {
	width: 100%;
}
.avatar img {
	margin-left: 20%;
	max-width: 60%;
	border-radius: 50%;
	border:10px solid white;
}

.name__title, .skills__title, .language__title, .more__title {
	text-align: center;
	font-family: 'Volkhov', serif;
}

.name__title {
	font-family: 'Dancing Script', cursive;
	/*font-family: 'Satisfy', cursive;*/
	/*font-family: 'Cookie', cursive;*/
	font-size: 40px;
}

.skills__title {
	margin-top: 40px;
}

.dot__circle {
	margin-left: 10px;
  	margin-top: 5px;
  	height: 15px;
  	width: 15px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
}

.black {
	background-color: black;
}

.important__skills {
	text-align: center;
}

.skill__name {
	text-transform: uppercase;
}

.skills__word {
	width: 100%;
}

.skills__word img {
	width: 100%;
}

.language table {
	width: 50%;
	margin-left: 25%;
	text-align: center;
}

.more {
	text-align: center;
}

.more a {
	text-decoration: none;
	color: #185878;
}

.more a:hover {
	color: #6cc180;
}

/*Page 2*/

/*Courses section*/

#courses {
    line-height: 24px;
}

.long__list__courses {
	border-top: 1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.15);
    background-color: #f3f6f8;
}

.long__list {
	list-style-type: none;
}

#courses h3 {
	color: #0084bf;
	line-height: 1.5;
    font-weight: 600;
    padding: 20px 0 0 10px;
}

.nr__courses {
	font-size: 24px;
}

.fa-chevron-up, .fa-chevron-down {
	padding-right: 40px;
	float: right;
}

#arrow__button:hover {
	cursor: pointer;
}

.courses__list .short__list {
	display: inline;
}

.long__list__elem {
	min-height: 50px;
	vertical-align: middle;
	padding-top: 25px;
	font-size: 16px;
	font-weight: 600;
}

.bottom__line {
	border-bottom: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,.15);
}

.bullet {
	margin: 2px 5px 2px 5px;
  	height: 5px;
  	width: 5px;
  	background-color: black;
  	border-radius: 50%;
  	display: inline-block;
}

.end__points {
	-webkit-line-clamp:3;
	max-height: 70px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/*Certification section*/

#certification {
    line-height: 24px;
}

.long__list__certification {
	border-top: 1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.15);
    background-color: #f3f6f8;
}

#certification h3 {
	color: #0084bf;
	line-height: 1.5;
    font-weight: 600;
    padding: 20px 0 0 10px;
}

.nr__certification {
	font-size: 24px;
}

/*.fa-chevron-up, .fa-chevron-down {
	padding-right: 40px;
	float: right;
}*/

#arrow__button__cert:hover {
	cursor: pointer;
}

.certification__list__short {
/*	display: inline;*/
	list-style-type: none;
}

.certification__list_long {
	display: block;
	list-style-type: circle;
}

.certification__list__elem img {
	/*max-width: 60px;*/
	max-height: 30px;
	margin-top: 10px;
	margin-right: 20px;
}

.certification__list__elem a:hover img {
	transform: scale(1.2);
}

.certification__list__elem a {
	text-decoration: none;
	color: #185878;
}

.certification__list__elem a:hover {
	color: #6cc180;
}

.cisco__logo {
/*	vertical-align: text-bottom;
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-size: 30px;
*/
	vertical-align: baseline;
    font-size: 20px;
    height: 30px;
    /*color: rgba(0,0,0,.6);*/
}

.hide {
	display: none;
}

/*Automation project section*/

#automation {
    line-height: 24px;
}

#automation h3 {
	color: #0084bf;
	line-height: 1.5;
    font-weight: 600;
    padding: 20px 0 0 10px;
}

.nr__automation {
	font-size: 24px;
}

#automation__list .short__list {
	display: inline;
}

.long__list__automation {
	display: block;
	border-top: 1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.15);
    background-color: #f3f6f8;
}

#arrow__button__aut:hover {
	cursor: pointer;
}

.bullet__aut {
	margin: 2px 5px 2px 5px;
  	height: 5px;
  	width: 5px;
  	background-color: black;
  	border-radius: 50%;
  	display: inline-block;
}

.elem__text__aut {
	font-size: 14px;
	font-weight: 400;
}

.elem__text__aut a {
	text-decoration: none;
	color: #185878;
}

.elem__text__aut a:hover {
	color: #6cc180;
}

/*Carrousel photos for automation projects*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	margin-left: 20%;
	/*color: black;*/
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot, .dotTwo, .dotThree {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}

.mySlides img {
	width: 60%;
	margin-left: 20%;
}

.mySlidesTwo img {
	width: 60%;
	margin-left: 20%;
}

.mySlidesThree img {
	width: 60%;
	margin-left: 20%;
}
/*Programming project section*/

#programming {
    line-height: 24px;
}

#programming h3 {
	color: #0084bf;
	line-height: 1.5;
    font-weight: 600;
    padding: 20px 0 0 10px;
}

.nr__programming {
	font-size: 24px;
}

#programming__list .short__list {
	display: inline;
}

.long__list__programming {
	display: block;
	border-top: 1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.15);
    background-color: #f3f6f8;
}

#arrow__button__prog:hover {
	cursor: pointer;
}

.bullet__prog {
	margin: 2px 5px 2px 5px;
  	height: 5px;
  	width: 5px;
  	background-color: black;
  	border-radius: 50%;
  	display: inline-block;
}

.elem__text__prog {
	font-size: 14px;
	font-weight: 400;
}

.elem__text__prog a {
	text-decoration: none;
	color: #185878;
}

.elem__text__prog a:hover {
	color: #6cc180;
}

/*Interview FAQ section*/

#interview {
    line-height: 24px;
}

#interview h3 {
	color: #0084bf;
	line-height: 1.5;
    font-weight: 600;
    padding: 20px 0 0 10px;
}

/*.nr__programming {
	font-size: 24px;
}*/

/*#interview__list .short__list {
	display: inline;
}
*/
.long__list__interview {
	display: block;
	border-top: 1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.15);
    background-color: #f3f6f8;
}

#arrow__button__interview:hover {
	cursor: pointer;
}

.bullet__inter {
	margin: 2px 5px 2px 5px;
  	height: 5px;
  	width: 5px;
  	background-color: black;
  	border-radius: 50%;
  	display: inline-block;
}

.elem__text__inter {
	font-size: 14px;
	font-weight: 400;
}

/*.elem__text__prog a {
	text-decoration: none;
	color: #185878;
}

.elem__text__prog a:hover {
	color: #6cc180;
}
*/

.elem__text__inter a {
	text-decoration: none;
	color: #185878;
}

.elem__text__inter a:hover {
	color: #6cc180;
}