.cell {
	border: 1px solid black;
}

body {
}
.container {
	background-color: #f1f1f1;
	max-width: 100%;
	display: flex;
	margin: 40px;
}

aside {
	background-color: #62ad8a;
	width: 30%;
	margin: 10px;
	padding: 5px;
}

main {
	width: 70%;
	margin: 10px 10px 10px 0;
}

.about__me {
	background-color: #535954;
	text-align: center;
	color: white;
}

.about__me h1 {
	padding-top: 20px;
	font-size: 3em;
}

.about__me p {
	text-align: left;
	line-height: 1.5;
	margin: 0 50px;
	padding-bottom: 20px;
}

.contact {
	display: flex;
	max-width: 100%;
}

.contact__list {
	width: 50%
}

.contact a {
	text-decoration: none;
	color: #185878;
}

.contact a:hover {
	color: #6cc180;
}

.contact ul {
	list-style-type: none;
}

.contact img {
	width: 20px;
	max-height: 20px;
}

.contact__list li {
	height: 20px;
}

.list__doi {
	margin-top: 5px;
}

.contact a:hover img {
	transform: scale(1.2);
}

.line__behind {
  	text-align: center;
}

.line__behind span {
	background: #f1f1f1;
	padding: 0 20px;
  	text-align: center;
}

.line__behind+* {
	margin-left: 5%;
	width: 90%;
  	border-top: solid 2px #adac97;
  	margin-top: -45px;
}

.education {
	text-align: center;
}

.education ul {
	list-style-type: none;
	width: 50%;
	margin-left: 25%;
	line-height: 1.5;
	/*text-align: left;*/
}
.education__title {
	margin-left: 30px;
}

.education__study {
	margin-left: 20px;
}

.education__study a {
	text-decoration: none;
	color: #185878;
}

.education__study a:hover {
	color: #6cc180;
}

.education li {
	text-align: left;
}

.education__second__row {
	margin-left: 56px;
}

.education__container {
	width: 50%;
	display: flex;
	margin-left: 25%;
}

.education__date {
	width: 20%;
}

.education__text {
	width: 80%;
	text-align: left;
	margin-top: 0;
	padding-top: 0;
}

.education__text a {
	text-decoration: none;
	color: #185878;
}

.education__text a:hover {
	color: #6cc180;
}

.experiences {
	width: 90%;
	margin-left: 5%;
	text-align: center;
}

.work__container {
	width: 100%;
	display: flex;
}

.work__date {
	width: 20%;
	margin-right: 20px;
}

.work__experience {

}